################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/TT/FileContentIndex/63e0e7b4-a6ba-4c6b-8339-ebc0538ddcf1.vsidx
/.vs/TT/FileContentIndex
